<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="table" params="parent">

    <link name="table">
      <visual>
        <origin xyz="0 0 -0.4"/>
        <geometry>
          <box size="2.0 1.0 0.8"/>
        </geometry>
        <material name="Red">
            <color rgba="0 0 1.0 1.0"/>
        </material>
      </visual>
    </link>

    <joint name="table_fixed" type="fixed">
      <parent link="${parent}"/>
      <child link="table"/>
    </joint>

  </xacro:macro>

</robot>
