<?xml version="1.0"?>
<robot name="table_only">

  <!-- World -->
  <link name="world"/>

  <!-- Table: 1 x 3 x 1 m -->
  <link name="table">
    <visual>
      <origin xyz="0 0 0.5"/>
      <geometry>
        <box size="0.5 2 1"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0.5"/>
      <geometry>
        <box size="0.5 2 1"/>
      </geometry>
    </collision>
  </link>

  <!-- Fix table to world -->
  <joint name="world_to_table" type="fixed">
    <parent link="world"/>
    <child link="table"/>
  </joint>

</robot>
